<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Find a Time</title>
  </head>
  <body>
	<h1>Welcome to Find a Time</h1>
  <div class = "whocares">
    <h3>Create New Event</h3>
    <p>Want to set up a new event? <a href = "/create">Click here!</a>
  </div>
  <div class = "whocares">
		<h3>View Event</h3>
    <p>To access an event, use the event that the event organizer has provided.</p>
	</div>
  </body>
</html>